# Django secret key
SECRET_KEY=

# Debug mode (True / False)
DEBUG=True

# PostgreSQL connection URL
# Example:
# DATABASE_URL=postgresql://username:password@host:5432/dbname
DATABASE_URL=

# Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
